* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'BN Cringe Serif';
    src: local('BN Cringe Serif Black'), local('BN-Cringe-Serif-Black'),
        url('BNCringeSerifBlack.woff2') format('woff2'),
        url('BNCringeSerifBlack.woff') format('woff'),
        url('BNCringeSerifBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    position: absolute;
}

body {
    background-image: url(PabloCabrera_Etiqueta.jpg);
    background-size: auto;
}

header {
    display: flex;
    justify-content: flex-start;
    padding-left: 21%;
    font-family: 'BN Cringe Serif';
    font-size: 2.5em;
    padding-top: 3%;
}

.enlaces {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 55%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;

}


.boton {
    display: flex;
    background-color: rgba(0, 0, 0, 0.724);
    font-family: monospace;
    font-size: 1.5em;
    margin: 2%;
    padding: 4%;
    padding-left: 10%;
    border-radius: 6px;
}

a {
    color: aliceblue;
    text-decoration: none;
}

a:visited {
    color: aliceblue;
}

a:hover {
    color: #b79c15;
}

a:active {
    color: #113f5d;
}

.boton:hover {
    margin-left: 8%;
    transition: 1s;
}