*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

/* Estilos propios web */
html {
    width: 1024px;
}

body {
    background-color: rgb(112, 143, 208);
}

div {
    background-color: rgba(92, 92, 103, 0.645);
    margin: 20px;
}

.box1 {
    padding: 15px;
    height: 100px;
    color: blue;
}

.box2 {
    padding-top: 15px;
    height: 300px;
    font-size: 21.5px;
    overflow: scroll;
    color: tomato;
}

.contenedor1 {
    margin: 20px;
    height: 300px;
    background-color: rgba(240, 248, 255, 0);
}

.box3 {
    float: left;
    width: 482px;
    height: 300px;
    margin: 20px auto;
    margin-top: auto;
    color: blue;
    
}

.conoce {
    text-align: center;
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 70px;
    margin-right: 70px;
    font-size: 45px;
    border-style: solid;
}

.box4 {

    float: right;
    width: 482px;
    height: 300px;
    margin: 20px auto;
    margin-top: auto;
    text-align: center;
}

nav {
    margin-top: 135px;
}

a {
    margin: 15px;
    color: black;
    text-decoration: none;
    
}

.box5 {
    height: 300px;
}

.oso {
    width: 100%;
    height: 300px;
}